.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}

.grid-filter {
  border: 1px solid #333;
  padding: 20px;
}

.grid-table {
  height: 100%;
  width: 100%;
  padding: 20px;
}